{% for category in site.categories %}
    <div class="card my-2 mx-3">
        <div class="card-body p-5">
            {% assign category_name = category | first %}
            <a class="jump-to-anchor" id="{{ category_name }}"></a>
            <h3 class="card-title">{{ category_name | capitalize_all }}</h3>

            {% for post in site.categories[category_name] %}
                {% if post.title %}
                    <p class="card-text">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title }}
                            <i class="fa fa-xs fa-hover fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </p>
                {% endif %}
            {% endfor %}

            <p class="card-text read-more">
            </p>
        </div>
    </div>
{% endfor %}

