<div class="card info-card sticky-div h-100 m-5">

  <div class="card-body p-5">

    <h3 class="card-title">Categories</h3>
    <ul class="list-unstyled">
      {% for category in site.categories %}
          {% assign category_name = category | first %}
          <li class="card-text">
            <a class="card-link" href="{{ 'categories.html' | anchor_ref: category_name | relative_url }}">
              {{ category_name | capitalize_all }}
            </a>
          </li>
      {% endfor %}
    </ul>

  </div>
</div>
