<div class="card info-card sticky-div h-100">

  <div class="card-body">

    <h3 class="card-title text-center">Categories</h3>
    <div class="category-tags d-flex justify-content-center px-5">
      {% for category in site.categories %}
        {% assign category_name = category | first %}
        <a class="card-link" href="{{ 'categories.html' | anchor_ref: category_name | relative_url }}">
          {{ category_name | capitalize_all }}
        </a>
      {% endfor %}
    </div>
  </div>
</div>
