<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ 'assets/css/open-color.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/normalize.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">

  <!-- load bootstrap -->
  <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' | relative_url }}">
  <script src="{{ 'assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>

  <script async src="https://use.fontawesome.com/releases/v5.0.12/js/all.js"></script>

  {% feed_meta %}
  {% seo %}

  {% include custom-head.html %}
</head>
