<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light py-4 px-5" id="menu">

  <div class="container-fluid">

  <!-- TODO: add name from _config.yml or default -->
  <a class="navbar-brand" href="/">Cadre</a>
  
  {% if site.data.navigation %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <div class="navbar-nav">
      {% for item in site.data.navigation %}
        <a class="nav-item nav-link" href="{{ item.link | relative_url }}">{{ item.name }}</a>
      {% endfor %}
      </div>
    </div>
  {% endif %}
  </div>
</nav>
