<div class="card sticky-div mt-2">

  <div class="card-body">

    <h3 class="card-title text-center">Recent Posts</h3>
    <ul class="list-unstyled">
      {% for post in site.posts limit:3 %}
        <li class="card-text text-center">
          <a class="card-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <h3 class="card-title text-center">Categories</h3>
    <div class="category-tags justify-content-center px-5">
      {% for category in site.categories %}
        {% assign category_name = category | first %}
        <a href="{{ 'categories.html' | anchor_ref: category_name | relative_url }}">
          {{ category_name | capitalize_all }}
        </a>
      {% endfor %}
    </div>
  </div>
</div>
