body {
  background-color: var(--body-bg) !important;
}

a {
  color: var(--link-color) !important;
  text-decoration: none !important;
  &:hover, 
  &:focus {
    color: var(--link-hover-color) !important;
    font-weight: bold !important;
    transition: all 0.25s ease-in-out;
  }
}

img {
  max-width: 90%;
  max-height: 90%;
}

h1 {
  color: var(--h1-color);
  padding: 10px 0;
}

h2 {
  color: var(--h2-color);
  padding: 7px 0;
}

h3 {
  color: var(--h3-color);
  padding: 5px 0;
}

.fa-hover {
  &:hover, 
  &:focus {
    transform: scale(1.1) !important;
  }
}

.card {
  background-color: var(--card-bg) !important;
}

.card-text a {
  color: var(--link-color);
}

.container {
  padding: var(--top-nav-space) 0;
  margin: var(--top-nav-space) 0;
}

.list-unstyled {
  padding-left: 10px !important;
}

.info-card {
  padding: 10px 15px;
  margin: 0 10px !important;
}

@media only screen and (max-width: $md) {
  .info-card {
    margin: 0 0 !important;
  }
}

.sticky-div {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: calc(var(--top-nav-space) + var(--sticky-div-pad)) !important; 
}

a.jump-to-anchor {
  display: block;
  position: relative;
  top: calc(-1 * (var(--top-nav-space) + var(--sticky-div-pad)));
  visibility: hidden;
}

.category-tags {
  text-align: center;
}

.category-tags a {
  display: inline-block;
  border: 1px solid var(--oc-gray-6);
  border-radius: 999em;
  line-height: 24px;
  font-size: 12px;
  padding: 0 10px;
  &:hover, 
  &:focus {
    border-color: var(--site-primary);
  }
}