code,
pre {
  font-family: var(--code-font);
}

code {
  padding: .1em .25em;
  background-color: var(--code-bg);
  border-radius: var(--border-radius);
}

pre {
  display: block;
  overflow: auto;
  padding: var(--spacer);
  margin: var(--spacer) 0;

  code {
    padding: 0;
    background-color: inherit;
  }
}
