.navbar {
    padding-left: 10%;  
    padding-right: 10%;  
}

.navbar-brand-img {
    transition: all 0.5s ease-in-out;
}

.navbar-brand {
    color: var(--site-primary) !important;
}

#menu {
    background-color: var(--nav-bg);
}

.scrolling {
    width: calc(var(--navbar-img-width) * 0.90);
    height: calc(var(--navbar-img-height) * 0.90);
}

.top {
    width: var(--navbar-img-width);
    height: var(--navbar-img-height);
}

a.nav-link {
    color: var(--site-tertiary);
}

@media only screen and (max-width: $md) {
    .scrolling {
        width: calc(var(--navbar-img-width) * 0.55);
        height: calc(var(--navbar-img-height) * 0.55);
    }

    .top {
        width: calc(var(--navbar-img-width) * 0.65);
        height: calc(var(--navbar-img-height) * 0.65);
    }  
}