.card-full {
  text-decoration: none;
}

.about-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 100px !important; 
}

.info-card {
  padding: 10px 15px;
}

.about-img {
  padding: 10px 50px;
}