.toc-title {
  margin: 0;
  text-align: left;
  // border: 1px solid var(--border-color);
  // border-top-left-radius: var(--border-radius);
  // border-top-right-radius: var(--border-radius);
  padding: .2em;
  // background-color: var(--code-bg);
}

.toc-div {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 100px !important; 
}

.toc,
.toc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc {
  max-height: 80vh;
  overflow-y: scroll;
  margin-left: 0;
  // border: 1px solid var(--border-color);
  border-top: 0;
  border-bottom: 0;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  a {
    display: block;
    // border-bottom: 1px solid var(--border-color);
    text-decoration: none;

    color: inherit;

    &:hover,
    &:focus {
      font-weight: bold;
      // background-color: var(--border-color);
    }
  }

  li > a {
    padding-left: .5em;
  }
  ul li > a {
    padding-left: 1.5em;
  }
  ul li ul li > a {
    padding-left: 2.5em;
  }
  ul li ul li ul li > a {
    padding-left: 3em;
  }
  ul li ul li ul li ul li > a {
    padding-left: 3.5em;
  }
}
