.toc-title {
  font-size: 16px;
  text-align: left;
}

.toc-div {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: calc(var(--top-nav-space) + var(--sticky-div-pad)) !important; 
}

@media only screen and (min-width: $md) {
  .toc-div {
    padding-left: 10px;
  }
}

.toc,
.toc ul {
  font-size: 12px;
  list-style: none;
  padding: 0;
}

.toc {
  max-height: 80vh;
  overflow-y: auto;

  a {
    display: block;
    text-decoration: none;

    color: var(--toc-text-color) !important;

    &:hover,
    &:focus {
      font-weight: bold;
      color: var(--link-hover-color) !important;
    }
  }

  // indentations 

  li > a {
    padding-left: .5em;
  }
  ul li > a {
    padding-left: 1.5em;
  }
  ul li ul li > a {
    padding-left: 2.5em;
  }
  ul li ul li ul li > a {
    padding-left: 3em;
  }
  ul li ul li ul li ul li > a {
    padding-left: 3.5em;
  }
}
