.separator {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 80%;
  color: var(--border-color);
  margin: var(--spacer-2) 0;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--border-color);
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

.post-card {
  margin-bottom: var(--spacer);
  padding: 1em;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: var(--link-color);
      text-decoration: none;
    }
  }

  .post-title {
    font-family: var(--body-font);
    margin: 0;
  }
  .post-meta {
    margin-bottom: 0;
  }
}
